# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=postgres://neondb_owner:npg_WjAS0Rg7uEFJ@ep-gentle-glitter-ady80mdi-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_WjAS0Rg7uEFJ@ep-gentle-glitter-ady80mdi-pooler.c-2.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_WjAS0Rg7uEFJ@ep-gentle-glitter-ady80mdi.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-gentle-glitter-ady80mdi-pooler.c-2.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_WjAS0Rg7uEFJ
POSTGRES_DATABASE=neondb

# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:npg_WjAS0Rg7uEFJ@ep-gentle-glitter-ady80mdi-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_WjAS0Rg7uEFJ@ep-gentle-glitter-ady80mdi.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-gentle-glitter-ady80mdi-pooler.c-2.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-gentle-glitter-ady80mdi.c-2.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_WjAS0Rg7uEFJ

# Parameters for Vercel Postgres Templates
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_WjAS0Rg7uEFJ@ep-gentle-glitter-ady80mdi-pooler.c-2.us-east-1.aws.neon.tech/neondb


# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID=f15480f3-5c9d-4e56-90b6-da6b97ea5fd3
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_9xswdmrmjrjze2v68htyk1nzf9sttn9e8r110we0a2pxg
STACK_SECRET_SERVER_KEY=ssk_k8nvzp3541vxaazzehvqjdv9crqrs13z253jn3mb0ast8

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth